.admin-container{
    display: flex;
    height: 400px;
}
.admin-section{
    position: relative;
    left: 500px;
    top: 50px;
    background-color: cyan;
    height: 70px;
    padding: 20px;
    border-radius: 10px;
}
.upload-container{
    position: relative;
    top: 140px;
    left: 160px;
}